
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <ul>
    {% for product in products %}
        <li>{{ product }}</li>
    {% endfor %}
    </ul>

    <pre>{{ dump(products) }}</pre>
</body>
</html>