
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <ul>
   
    {% for product in products %}
        <lo>{{ product }}</lo>
    {% endfor %}
    </ul>

    {{ dump(products)}}
</body>
</html>